<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSCF6731.jpg"
	thumbURL="thumbs/DSCF6731.jpg"
	linkURL="images/DSCF6731.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6731.JPG"

>
    <title><![CDATA[DSCF6731]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6730.jpg"
	thumbURL="thumbs/DSCF6730.jpg"
	linkURL="images/DSCF6730.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6730.JPG">
    <title><![CDATA[DSCF6730]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6729.jpg"
	thumbURL="thumbs/DSCF6729.jpg"
	linkURL="images/DSCF6729.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6729.JPG">
    <title><![CDATA[DSCF6729]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6728.jpg"
	thumbURL="thumbs/DSCF6728.jpg"
	linkURL="images/DSCF6728.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6728.JPG">
    <title><![CDATA[DSCF6728]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6727.jpg"
	thumbURL="thumbs/DSCF6727.jpg"
	linkURL="images/DSCF6727.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6727.JPG">
    <title><![CDATA[DSCF6727]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6720.jpg"
	thumbURL="thumbs/DSCF6720.jpg"
	linkURL="images/DSCF6720.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6720.JPG">
    <title><![CDATA[DSCF6720]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6721.jpg"
	thumbURL="thumbs/DSCF6721.jpg"
	linkURL="images/DSCF6721.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6721.JPG">
    <title><![CDATA[DSCF6721]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6722.jpg"
	thumbURL="thumbs/DSCF6722.jpg"
	linkURL="images/DSCF6722.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6722.JPG">
    <title><![CDATA[DSCF6722]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6723.jpg"
	thumbURL="thumbs/DSCF6723.jpg"
	linkURL="images/DSCF6723.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6723.JPG">
    <title><![CDATA[DSCF6723]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6724.jpg"
	thumbURL="thumbs/DSCF6724.jpg"
	linkURL="images/DSCF6724.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6724.JPG">
    <title><![CDATA[DSCF6724]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6725.jpg"
	thumbURL="thumbs/DSCF6725.jpg"
	linkURL="images/DSCF6725.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6725.JPG">
    <title><![CDATA[DSCF6725]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6726.jpg"
	thumbURL="thumbs/DSCF6726.jpg"
	linkURL="images/DSCF6726.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6726.JPG">
    <title><![CDATA[DSCF6726]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6698.jpg"
	thumbURL="thumbs/DSCF6698.jpg"
	linkURL="images/DSCF6698.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6698.JPG">
    <title><![CDATA[DSCF6698]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6699.jpg"
	thumbURL="thumbs/DSCF6699.jpg"
	linkURL="images/DSCF6699.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6699.JPG">
    <title><![CDATA[DSCF6699]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6700.jpg"
	thumbURL="thumbs/DSCF6700.jpg"
	linkURL="images/DSCF6700.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6700.JPG">
    <title><![CDATA[DSCF6700]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6701.jpg"
	thumbURL="thumbs/DSCF6701.jpg"
	linkURL="images/DSCF6701.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6701.JPG">
    <title><![CDATA[DSCF6701]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6702.jpg"
	thumbURL="thumbs/DSCF6702.jpg"
	linkURL="images/DSCF6702.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6702.JPG">
    <title><![CDATA[DSCF6702]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6703.jpg"
	thumbURL="thumbs/DSCF6703.jpg"
	linkURL="images/DSCF6703.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6703.JPG">
    <title><![CDATA[DSCF6703]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6704.jpg"
	thumbURL="thumbs/DSCF6704.jpg"
	linkURL="images/DSCF6704.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6704.JPG">
    <title><![CDATA[DSCF6704]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6705.jpg"
	thumbURL="thumbs/DSCF6705.jpg"
	linkURL="images/DSCF6705.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6705.JPG">
    <title><![CDATA[DSCF6705]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6706.jpg"
	thumbURL="thumbs/DSCF6706.jpg"
	linkURL="images/DSCF6706.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6706.JPG">
    <title><![CDATA[DSCF6706]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6707.jpg"
	thumbURL="thumbs/DSCF6707.jpg"
	linkURL="images/DSCF6707.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6707.JPG">
    <title><![CDATA[DSCF6707]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6708.jpg"
	thumbURL="thumbs/DSCF6708.jpg"
	linkURL="images/DSCF6708.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6708.JPG">
    <title><![CDATA[DSCF6708]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6709.jpg"
	thumbURL="thumbs/DSCF6709.jpg"
	linkURL="images/DSCF6709.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6709.JPG">
    <title><![CDATA[DSCF6709]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6710.jpg"
	thumbURL="thumbs/DSCF6710.jpg"
	linkURL="images/DSCF6710.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6710.JPG">
    <title><![CDATA[DSCF6710]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6711.jpg"
	thumbURL="thumbs/DSCF6711.jpg"
	linkURL="images/DSCF6711.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6711.JPG">
    <title><![CDATA[DSCF6711]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6712.jpg"
	thumbURL="thumbs/DSCF6712.jpg"
	linkURL="images/DSCF6712.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6712.JPG">
    <title><![CDATA[DSCF6712]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6713.jpg"
	thumbURL="thumbs/DSCF6713.jpg"
	linkURL="images/DSCF6713.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6713.JPG">
    <title><![CDATA[DSCF6713]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6714.jpg"
	thumbURL="thumbs/DSCF6714.jpg"
	linkURL="images/DSCF6714.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6714.JPG">
    <title><![CDATA[DSCF6714]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6715.jpg"
	thumbURL="thumbs/DSCF6715.jpg"
	linkURL="images/DSCF6715.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6715.JPG">
    <title><![CDATA[DSCF6715]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6716.jpg"
	thumbURL="thumbs/DSCF6716.jpg"
	linkURL="images/DSCF6716.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6716.JPG">
    <title><![CDATA[DSCF6716]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6717.jpg"
	thumbURL="thumbs/DSCF6717.jpg"
	linkURL="images/DSCF6717.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6717.JPG">
    <title><![CDATA[DSCF6717]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6718.jpg"
	thumbURL="thumbs/DSCF6718.jpg"
	linkURL="images/DSCF6718.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6718.JPG">
    <title><![CDATA[DSCF6718]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6719.jpg"
	thumbURL="thumbs/DSCF6719.jpg"
	linkURL="images/DSCF6719.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Fri170217\DSCF6719.JPG">
    <title><![CDATA[DSCF6719]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>