<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="WRGBITM Saturday A"

>
  <image imageURL="images/DSCF6882.jpg"
	thumbURL="thumbs/DSCF6882.jpg"
	linkURL="images/DSCF6882.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6882.JPG">
    <title><![CDATA[DSCF6882]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6883.jpg"
	thumbURL="thumbs/DSCF6883.jpg"
	linkURL="images/DSCF6883.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6883.JPG">
    <title><![CDATA[DSCF6883]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6884.jpg"
	thumbURL="thumbs/DSCF6884.jpg"
	linkURL="images/DSCF6884.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6884.JPG">
    <title><![CDATA[DSCF6884]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6885.jpg"
	thumbURL="thumbs/DSCF6885.jpg"
	linkURL="images/DSCF6885.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6885.JPG">
    <title><![CDATA[DSCF6885]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6886.jpg"
	thumbURL="thumbs/DSCF6886.jpg"
	linkURL="images/DSCF6886.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6886.JPG">
    <title><![CDATA[DSCF6886]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6887.jpg"
	thumbURL="thumbs/DSCF6887.jpg"
	linkURL="images/DSCF6887.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6887.JPG">
    <title><![CDATA[DSCF6887]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6888.jpg"
	thumbURL="thumbs/DSCF6888.jpg"
	linkURL="images/DSCF6888.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6888.JPG">
    <title><![CDATA[DSCF6888]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6889.jpg"
	thumbURL="thumbs/DSCF6889.jpg"
	linkURL="images/DSCF6889.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6889.JPG">
    <title><![CDATA[DSCF6889]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6890.jpg"
	thumbURL="thumbs/DSCF6890.jpg"
	linkURL="images/DSCF6890.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6890.JPG">
    <title><![CDATA[DSCF6890]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6891.jpg"
	thumbURL="thumbs/DSCF6891.jpg"
	linkURL="images/DSCF6891.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6891.JPG">
    <title><![CDATA[DSCF6891]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6892.jpg"
	thumbURL="thumbs/DSCF6892.jpg"
	linkURL="images/DSCF6892.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6892.JPG">
    <title><![CDATA[DSCF6892]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6893.jpg"
	thumbURL="thumbs/DSCF6893.jpg"
	linkURL="images/DSCF6893.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6893.JPG">
    <title><![CDATA[DSCF6893]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6894.jpg"
	thumbURL="thumbs/DSCF6894.jpg"
	linkURL="images/DSCF6894.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6894.JPG">
    <title><![CDATA[DSCF6894]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6895.jpg"
	thumbURL="thumbs/DSCF6895.jpg"
	linkURL="images/DSCF6895.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6895.JPG">
    <title><![CDATA[DSCF6895]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6896.jpg"
	thumbURL="thumbs/DSCF6896.jpg"
	linkURL="images/DSCF6896.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6896.JPG">
    <title><![CDATA[DSCF6896]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6897.jpg"
	thumbURL="thumbs/DSCF6897.jpg"
	linkURL="images/DSCF6897.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6897.JPG">
    <title><![CDATA[DSCF6897]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6898.jpg"
	thumbURL="thumbs/DSCF6898.jpg"
	linkURL="images/DSCF6898.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6898.JPG">
    <title><![CDATA[DSCF6898]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6899.jpg"
	thumbURL="thumbs/DSCF6899.jpg"
	linkURL="images/DSCF6899.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6899.JPG">
    <title><![CDATA[DSCF6899]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6900.jpg"
	thumbURL="thumbs/DSCF6900.jpg"
	linkURL="images/DSCF6900.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6900.JPG">
    <title><![CDATA[DSCF6900]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6901.jpg"
	thumbURL="thumbs/DSCF6901.jpg"
	linkURL="images/DSCF6901.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6901.JPG">
    <title><![CDATA[DSCF6901]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6902.jpg"
	thumbURL="thumbs/DSCF6902.jpg"
	linkURL="images/DSCF6902.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6902.JPG">
    <title><![CDATA[DSCF6902]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6903.jpg"
	thumbURL="thumbs/DSCF6903.jpg"
	linkURL="images/DSCF6903.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6903.JPG">
    <title><![CDATA[DSCF6903]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6905.jpg"
	thumbURL="thumbs/DSCF6905.jpg"
	linkURL="images/DSCF6905.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6905.JPG">
    <title><![CDATA[DSCF6905]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6908.jpg"
	thumbURL="thumbs/DSCF6908.jpg"
	linkURL="images/DSCF6908.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6908.JPG">
    <title><![CDATA[DSCF6908]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6909.jpg"
	thumbURL="thumbs/DSCF6909.jpg"
	linkURL="images/DSCF6909.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6909.JPG">
    <title><![CDATA[DSCF6909]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6910.jpg"
	thumbURL="thumbs/DSCF6910.jpg"
	linkURL="images/DSCF6910.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6910.JPG">
    <title><![CDATA[DSCF6910]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6911.jpg"
	thumbURL="thumbs/DSCF6911.jpg"
	linkURL="images/DSCF6911.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6911.JPG">
    <title><![CDATA[DSCF6911]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6912.jpg"
	thumbURL="thumbs/DSCF6912.jpg"
	linkURL="images/DSCF6912.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6912.JPG">
    <title><![CDATA[DSCF6912]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6913.jpg"
	thumbURL="thumbs/DSCF6913.jpg"
	linkURL="images/DSCF6913.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6913.JPG">
    <title><![CDATA[DSCF6913]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6914.jpg"
	thumbURL="thumbs/DSCF6914.jpg"
	linkURL="images/DSCF6914.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6914.JPG">
    <title><![CDATA[DSCF6914]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6915.jpg"
	thumbURL="thumbs/DSCF6915.jpg"
	linkURL="images/DSCF6915.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6915.JPG">
    <title><![CDATA[DSCF6915]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6917.jpg"
	thumbURL="thumbs/DSCF6917.jpg"
	linkURL="images/DSCF6917.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6917.JPG">
    <title><![CDATA[DSCF6917]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6918.jpg"
	thumbURL="thumbs/DSCF6918.jpg"
	linkURL="images/DSCF6918.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6918.JPG">
    <title><![CDATA[DSCF6918]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6919.jpg"
	thumbURL="thumbs/DSCF6919.jpg"
	linkURL="images/DSCF6919.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6919.JPG">
    <title><![CDATA[DSCF6919]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6920.jpg"
	thumbURL="thumbs/DSCF6920.jpg"
	linkURL="images/DSCF6920.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6920.JPG">
    <title><![CDATA[DSCF6920]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>