<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery 

	galleryTitle="WRGBITM2"

>
  <image imageURL="images/DSCF6934.jpg"
	thumbURL="thumbs/DSCF6934.jpg"
	linkURL="images/DSCF6934.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6934.JPG">
    <title><![CDATA[DSCF6934]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6936.jpg"
	thumbURL="thumbs/DSCF6936.jpg"
	linkURL="images/DSCF6936.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6936.JPG">
    <title><![CDATA[DSCF6936]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6938.jpg"
	thumbURL="thumbs/DSCF6938.jpg"
	linkURL="images/DSCF6938.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6938.JPG">
    <title><![CDATA[DSCF6938]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6940.jpg"
	thumbURL="thumbs/DSCF6940.jpg"
	linkURL="images/DSCF6940.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6940.JPG">
    <title><![CDATA[DSCF6940]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6941.jpg"
	thumbURL="thumbs/DSCF6941.jpg"
	linkURL="images/DSCF6941.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6941.JPG">
    <title><![CDATA[DSCF6941]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6942.jpg"
	thumbURL="thumbs/DSCF6942.jpg"
	linkURL="images/DSCF6942.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6942.JPG">
    <title><![CDATA[DSCF6942]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6943.jpg"
	thumbURL="thumbs/DSCF6943.jpg"
	linkURL="images/DSCF6943.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6943.JPG">
    <title><![CDATA[DSCF6943]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6944.jpg"
	thumbURL="thumbs/DSCF6944.jpg"
	linkURL="images/DSCF6944.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6944.JPG">
    <title><![CDATA[DSCF6944]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6945.jpg"
	thumbURL="thumbs/DSCF6945.jpg"
	linkURL="images/DSCF6945.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6945.JPG">
    <title><![CDATA[DSCF6945]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6946.jpg"
	thumbURL="thumbs/DSCF6946.jpg"
	linkURL="images/DSCF6946.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6946.JPG">
    <title><![CDATA[DSCF6946]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6947.jpg"
	thumbURL="thumbs/DSCF6947.jpg"
	linkURL="images/DSCF6947.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6947.JPG">
    <title><![CDATA[DSCF6947]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6948.jpg"
	thumbURL="thumbs/DSCF6948.jpg"
	linkURL="images/DSCF6948.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6948.JPG">
    <title><![CDATA[DSCF6948]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6949.jpg"
	thumbURL="thumbs/DSCF6949.jpg"
	linkURL="images/DSCF6949.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6949.JPG">
    <title><![CDATA[DSCF6949]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6950.jpg"
	thumbURL="thumbs/DSCF6950.jpg"
	linkURL="images/DSCF6950.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6950.JPG">
    <title><![CDATA[DSCF6950]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6951.jpg"
	thumbURL="thumbs/DSCF6951.jpg"
	linkURL="images/DSCF6951.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6951.JPG">
    <title><![CDATA[DSCF6951]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6953.jpg"
	thumbURL="thumbs/DSCF6953.jpg"
	linkURL="images/DSCF6953.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6953.JPG">
    <title><![CDATA[DSCF6953]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6954.jpg"
	thumbURL="thumbs/DSCF6954.jpg"
	linkURL="images/DSCF6954.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6954.JPG">
    <title><![CDATA[DSCF6954]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6955.jpg"
	thumbURL="thumbs/DSCF6955.jpg"
	linkURL="images/DSCF6955.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6955.JPG">
    <title><![CDATA[DSCF6955]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6957.jpg"
	thumbURL="thumbs/DSCF6957.jpg"
	linkURL="images/DSCF6957.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6957.JPG">
    <title><![CDATA[DSCF6957]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6958.jpg"
	thumbURL="thumbs/DSCF6958.jpg"
	linkURL="images/DSCF6958.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6958.JPG">
    <title><![CDATA[DSCF6958]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6959.jpg"
	thumbURL="thumbs/DSCF6959.jpg"
	linkURL="images/DSCF6959.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6959.JPG">
    <title><![CDATA[DSCF6959]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6960.jpg"
	thumbURL="thumbs/DSCF6960.jpg"
	linkURL="images/DSCF6960.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6960.JPG">
    <title><![CDATA[DSCF6960]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6921.jpg"
	thumbURL="thumbs/DSCF6921.jpg"
	linkURL="images/DSCF6921.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6921.JPG">
    <title><![CDATA[DSCF6921]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6922.jpg"
	thumbURL="thumbs/DSCF6922.jpg"
	linkURL="images/DSCF6922.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6922.JPG">
    <title><![CDATA[DSCF6922]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6923.jpg"
	thumbURL="thumbs/DSCF6923.jpg"
	linkURL="images/DSCF6923.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6923.JPG">
    <title><![CDATA[DSCF6923]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6924.jpg"
	thumbURL="thumbs/DSCF6924.jpg"
	linkURL="images/DSCF6924.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6924.JPG">
    <title><![CDATA[DSCF6924]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6925.jpg"
	thumbURL="thumbs/DSCF6925.jpg"
	linkURL="images/DSCF6925.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6925.JPG">
    <title><![CDATA[DSCF6925]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6926.jpg"
	thumbURL="thumbs/DSCF6926.jpg"
	linkURL="images/DSCF6926.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6926.JPG">
    <title><![CDATA[DSCF6926]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6927.jpg"
	thumbURL="thumbs/DSCF6927.jpg"
	linkURL="images/DSCF6927.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6927.JPG">
    <title><![CDATA[DSCF6927]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6928.jpg"
	thumbURL="thumbs/DSCF6928.jpg"
	linkURL="images/DSCF6928.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6928.JPG">
    <title><![CDATA[DSCF6928]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6930.jpg"
	thumbURL="thumbs/DSCF6930.jpg"
	linkURL="images/DSCF6930.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6930.JPG">
    <title><![CDATA[DSCF6930]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6931.jpg"
	thumbURL="thumbs/DSCF6931.jpg"
	linkURL="images/DSCF6931.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6931.JPG">
    <title><![CDATA[DSCF6931]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6932.jpg"
	thumbURL="thumbs/DSCF6932.jpg"
	linkURL="images/DSCF6932.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6932.JPG">
    <title><![CDATA[DSCF6932]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6933.jpg"
	thumbURL="thumbs/DSCF6933.jpg"
	linkURL="images/DSCF6933.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat20170318\DSCF6933.JPG">
    <title><![CDATA[DSCF6933]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>