<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/pull1.jpg"
	thumbURL="thumbs/pull1.jpg"
	linkURL="images/pull1.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\pull1.png"

>
    <title><![CDATA[pull1]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pull2.jpg"
	thumbURL="thumbs/pull2.jpg"
	linkURL="images/pull2.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\pull2.png">
    <title><![CDATA[pull2]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pull3.jpg"
	thumbURL="thumbs/pull3.jpg"
	linkURL="images/pull3.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\pull3.png">
    <title><![CDATA[pull3]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pull4.jpg"
	thumbURL="thumbs/pull4.jpg"
	linkURL="images/pull4.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\pull4.png">
    <title><![CDATA[pull4]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pull5.jpg"
	thumbURL="thumbs/pull5.jpg"
	linkURL="images/pull5.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\pull5.png">
    <title><![CDATA[pull5]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pull6.jpg"
	thumbURL="thumbs/pull6.jpg"
	linkURL="images/pull6.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\pull6.png">
    <title><![CDATA[pull6]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/pull7.jpg"
	thumbURL="thumbs/pull7.jpg"
	linkURL="images/pull7.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\pull7.png">
    <title><![CDATA[pull7]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6814.jpg"
	thumbURL="thumbs/DSCF6814.jpg"
	linkURL="images/DSCF6814.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6814.JPG">
    <title><![CDATA[DSCF6814]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6815.jpg"
	thumbURL="thumbs/DSCF6815.jpg"
	linkURL="images/DSCF6815.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6815.JPG">
    <title><![CDATA[DSCF6815]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6816.jpg"
	thumbURL="thumbs/DSCF6816.jpg"
	linkURL="images/DSCF6816.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6816.JPG">
    <title><![CDATA[DSCF6816]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6817.jpg"
	thumbURL="thumbs/DSCF6817.jpg"
	linkURL="images/DSCF6817.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6817.JPG">
    <title><![CDATA[DSCF6817]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6818.jpg"
	thumbURL="thumbs/DSCF6818.jpg"
	linkURL="images/DSCF6818.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6818.JPG">
    <title><![CDATA[DSCF6818]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6819.jpg"
	thumbURL="thumbs/DSCF6819.jpg"
	linkURL="images/DSCF6819.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6819.JPG">
    <title><![CDATA[DSCF6819]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6820.jpg"
	thumbURL="thumbs/DSCF6820.jpg"
	linkURL="images/DSCF6820.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6820.JPG">
    <title><![CDATA[DSCF6820]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6821.jpg"
	thumbURL="thumbs/DSCF6821.jpg"
	linkURL="images/DSCF6821.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6821.JPG">
    <title><![CDATA[DSCF6821]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6822.jpg"
	thumbURL="thumbs/DSCF6822.jpg"
	linkURL="images/DSCF6822.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6822.JPG">
    <title><![CDATA[DSCF6822]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6823.jpg"
	thumbURL="thumbs/DSCF6823.jpg"
	linkURL="images/DSCF6823.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6823.JPG">
    <title><![CDATA[DSCF6823]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>