<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSCF6844.jpg"
	thumbURL="thumbs/DSCF6844.jpg"
	linkURL="images/DSCF6844.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6844.JPG"

>
    <title><![CDATA[DSCF6844]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6845.jpg"
	thumbURL="thumbs/DSCF6845.jpg"
	linkURL="images/DSCF6845.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6845.JPG">
    <title><![CDATA[DSCF6845]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6846.jpg"
	thumbURL="thumbs/DSCF6846.jpg"
	linkURL="images/DSCF6846.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6846.JPG">
    <title><![CDATA[DSCF6846]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6847.jpg"
	thumbURL="thumbs/DSCF6847.jpg"
	linkURL="images/DSCF6847.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6847.JPG">
    <title><![CDATA[DSCF6847]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6848.jpg"
	thumbURL="thumbs/DSCF6848.jpg"
	linkURL="images/DSCF6848.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6848.JPG">
    <title><![CDATA[DSCF6848]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6849.jpg"
	thumbURL="thumbs/DSCF6849.jpg"
	linkURL="images/DSCF6849.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6849.JPG">
    <title><![CDATA[DSCF6849]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6850.jpg"
	thumbURL="thumbs/DSCF6850.jpg"
	linkURL="images/DSCF6850.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6850.JPG">
    <title><![CDATA[DSCF6850]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6851.jpg"
	thumbURL="thumbs/DSCF6851.jpg"
	linkURL="images/DSCF6851.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6851.JPG">
    <title><![CDATA[DSCF6851]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6852.jpg"
	thumbURL="thumbs/DSCF6852.jpg"
	linkURL="images/DSCF6852.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6852.JPG">
    <title><![CDATA[DSCF6852]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6853.jpg"
	thumbURL="thumbs/DSCF6853.jpg"
	linkURL="images/DSCF6853.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6853.JPG">
    <title><![CDATA[DSCF6853]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6854.jpg"
	thumbURL="thumbs/DSCF6854.jpg"
	linkURL="images/DSCF6854.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6854.JPG">
    <title><![CDATA[DSCF6854]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6855.jpg"
	thumbURL="thumbs/DSCF6855.jpg"
	linkURL="images/DSCF6855.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6855.JPG">
    <title><![CDATA[DSCF6855]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6856.jpg"
	thumbURL="thumbs/DSCF6856.jpg"
	linkURL="images/DSCF6856.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6856.JPG">
    <title><![CDATA[DSCF6856]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6827.jpg"
	thumbURL="thumbs/DSCF6827.jpg"
	linkURL="images/DSCF6827.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6827.JPG">
    <title><![CDATA[DSCF6827]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6828.jpg"
	thumbURL="thumbs/DSCF6828.jpg"
	linkURL="images/DSCF6828.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6828.JPG">
    <title><![CDATA[DSCF6828]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6829.jpg"
	thumbURL="thumbs/DSCF6829.jpg"
	linkURL="images/DSCF6829.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6829.JPG">
    <title><![CDATA[DSCF6829]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6830.jpg"
	thumbURL="thumbs/DSCF6830.jpg"
	linkURL="images/DSCF6830.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6830.JPG">
    <title><![CDATA[DSCF6830]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6831.jpg"
	thumbURL="thumbs/DSCF6831.jpg"
	linkURL="images/DSCF6831.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6831.JPG">
    <title><![CDATA[DSCF6831]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6832.jpg"
	thumbURL="thumbs/DSCF6832.jpg"
	linkURL="images/DSCF6832.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6832.JPG">
    <title><![CDATA[DSCF6832]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6833.jpg"
	thumbURL="thumbs/DSCF6833.jpg"
	linkURL="images/DSCF6833.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6833.JPG">
    <title><![CDATA[DSCF6833]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6834.jpg"
	thumbURL="thumbs/DSCF6834.jpg"
	linkURL="images/DSCF6834.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6834.JPG">
    <title><![CDATA[DSCF6834]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6835.jpg"
	thumbURL="thumbs/DSCF6835.jpg"
	linkURL="images/DSCF6835.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6835.JPG">
    <title><![CDATA[DSCF6835]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6836.jpg"
	thumbURL="thumbs/DSCF6836.jpg"
	linkURL="images/DSCF6836.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6836.JPG">
    <title><![CDATA[DSCF6836]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6837.jpg"
	thumbURL="thumbs/DSCF6837.jpg"
	linkURL="images/DSCF6837.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6837.JPG">
    <title><![CDATA[DSCF6837]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6838.jpg"
	thumbURL="thumbs/DSCF6838.jpg"
	linkURL="images/DSCF6838.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6838.JPG">
    <title><![CDATA[DSCF6838]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6839.jpg"
	thumbURL="thumbs/DSCF6839.jpg"
	linkURL="images/DSCF6839.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6839.JPG">
    <title><![CDATA[DSCF6839]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6840.jpg"
	thumbURL="thumbs/DSCF6840.jpg"
	linkURL="images/DSCF6840.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6840.JPG">
    <title><![CDATA[DSCF6840]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6841.jpg"
	thumbURL="thumbs/DSCF6841.jpg"
	linkURL="images/DSCF6841.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6841.JPG">
    <title><![CDATA[DSCF6841]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6842.jpg"
	thumbURL="thumbs/DSCF6842.jpg"
	linkURL="images/DSCF6842.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6842.JPG">
    <title><![CDATA[DSCF6842]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6843.jpg"
	thumbURL="thumbs/DSCF6843.jpg"
	linkURL="images/DSCF6843.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sun190217\DSCF6843.JPG">
    <title><![CDATA[DSCF6843]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>