<?xml version="1.0" encoding="UTF-8"?>

<juiceboxgallery>
  <image imageURL="images/DSCF6802.jpg"
	thumbURL="thumbs/DSCF6802.jpg"
	linkURL="images/DSCF6802.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6802.JPG"

>
    <title><![CDATA[DSCF6802]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6757.jpg"
	thumbURL="thumbs/DSCF6757.jpg"
	linkURL="images/DSCF6757.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6757.JPG">
    <title><![CDATA[DSCF6757]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6758.jpg"
	thumbURL="thumbs/DSCF6758.jpg"
	linkURL="images/DSCF6758.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6758.JPG">
    <title><![CDATA[DSCF6758]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6759.jpg"
	thumbURL="thumbs/DSCF6759.jpg"
	linkURL="images/DSCF6759.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6759.JPG">
    <title><![CDATA[DSCF6759]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6760.jpg"
	thumbURL="thumbs/DSCF6760.jpg"
	linkURL="images/DSCF6760.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6760.JPG">
    <title><![CDATA[DSCF6760]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6761.jpg"
	thumbURL="thumbs/DSCF6761.jpg"
	linkURL="images/DSCF6761.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6761.JPG">
    <title><![CDATA[DSCF6761]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6762.jpg"
	thumbURL="thumbs/DSCF6762.jpg"
	linkURL="images/DSCF6762.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6762.JPG">
    <title><![CDATA[DSCF6762]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6763.jpg"
	thumbURL="thumbs/DSCF6763.jpg"
	linkURL="images/DSCF6763.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6763.JPG">
    <title><![CDATA[DSCF6763]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6764.jpg"
	thumbURL="thumbs/DSCF6764.jpg"
	linkURL="images/DSCF6764.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6764.JPG">
    <title><![CDATA[DSCF6764]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6765.jpg"
	thumbURL="thumbs/DSCF6765.jpg"
	linkURL="images/DSCF6765.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6765.JPG">
    <title><![CDATA[DSCF6765]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6766.jpg"
	thumbURL="thumbs/DSCF6766.jpg"
	linkURL="images/DSCF6766.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6766.JPG">
    <title><![CDATA[DSCF6766]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6767.jpg"
	thumbURL="thumbs/DSCF6767.jpg"
	linkURL="images/DSCF6767.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6767.JPG">
    <title><![CDATA[DSCF6767]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6768.jpg"
	thumbURL="thumbs/DSCF6768.jpg"
	linkURL="images/DSCF6768.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6768.JPG">
    <title><![CDATA[DSCF6768]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6769.jpg"
	thumbURL="thumbs/DSCF6769.jpg"
	linkURL="images/DSCF6769.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6769.JPG">
    <title><![CDATA[DSCF6769]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6770.jpg"
	thumbURL="thumbs/DSCF6770.jpg"
	linkURL="images/DSCF6770.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6770.JPG">
    <title><![CDATA[DSCF6770]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6771.jpg"
	thumbURL="thumbs/DSCF6771.jpg"
	linkURL="images/DSCF6771.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6771.JPG">
    <title><![CDATA[DSCF6771]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6772.jpg"
	thumbURL="thumbs/DSCF6772.jpg"
	linkURL="images/DSCF6772.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6772.JPG">
    <title><![CDATA[DSCF6772]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6773.jpg"
	thumbURL="thumbs/DSCF6773.jpg"
	linkURL="images/DSCF6773.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6773.JPG">
    <title><![CDATA[DSCF6773]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6774.jpg"
	thumbURL="thumbs/DSCF6774.jpg"
	linkURL="images/DSCF6774.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6774.JPG">
    <title><![CDATA[DSCF6774]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6775.jpg"
	thumbURL="thumbs/DSCF6775.jpg"
	linkURL="images/DSCF6775.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6775.JPG">
    <title><![CDATA[DSCF6775]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6776.jpg"
	thumbURL="thumbs/DSCF6776.jpg"
	linkURL="images/DSCF6776.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6776.JPG">
    <title><![CDATA[DSCF6776]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6777.jpg"
	thumbURL="thumbs/DSCF6777.jpg"
	linkURL="images/DSCF6777.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6777.JPG">
    <title><![CDATA[DSCF6777]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6778.jpg"
	thumbURL="thumbs/DSCF6778.jpg"
	linkURL="images/DSCF6778.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6778.JPG">
    <title><![CDATA[DSCF6778]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6779.jpg"
	thumbURL="thumbs/DSCF6779.jpg"
	linkURL="images/DSCF6779.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6779.JPG">
    <title><![CDATA[DSCF6779]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6780.jpg"
	thumbURL="thumbs/DSCF6780.jpg"
	linkURL="images/DSCF6780.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6780.JPG">
    <title><![CDATA[DSCF6780]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6781.jpg"
	thumbURL="thumbs/DSCF6781.jpg"
	linkURL="images/DSCF6781.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6781.JPG">
    <title><![CDATA[DSCF6781]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6782.jpg"
	thumbURL="thumbs/DSCF6782.jpg"
	linkURL="images/DSCF6782.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6782.JPG">
    <title><![CDATA[DSCF6782]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6783.jpg"
	thumbURL="thumbs/DSCF6783.jpg"
	linkURL="images/DSCF6783.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6783.JPG">
    <title><![CDATA[DSCF6783]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6784.jpg"
	thumbURL="thumbs/DSCF6784.jpg"
	linkURL="images/DSCF6784.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6784.JPG">
    <title><![CDATA[DSCF6784]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6785.jpg"
	thumbURL="thumbs/DSCF6785.jpg"
	linkURL="images/DSCF6785.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6785.JPG">
    <title><![CDATA[DSCF6785]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6786.jpg"
	thumbURL="thumbs/DSCF6786.jpg"
	linkURL="images/DSCF6786.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6786.JPG">
    <title><![CDATA[DSCF6786]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6787.jpg"
	thumbURL="thumbs/DSCF6787.jpg"
	linkURL="images/DSCF6787.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6787.JPG">
    <title><![CDATA[DSCF6787]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6788.jpg"
	thumbURL="thumbs/DSCF6788.jpg"
	linkURL="images/DSCF6788.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6788.JPG">
    <title><![CDATA[DSCF6788]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6789.jpg"
	thumbURL="thumbs/DSCF6789.jpg"
	linkURL="images/DSCF6789.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6789.JPG">
    <title><![CDATA[DSCF6789]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6790.jpg"
	thumbURL="thumbs/DSCF6790.jpg"
	linkURL="images/DSCF6790.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6790.JPG">
    <title><![CDATA[DSCF6790]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6791.jpg"
	thumbURL="thumbs/DSCF6791.jpg"
	linkURL="images/DSCF6791.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6791.JPG">
    <title><![CDATA[DSCF6791]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6792.jpg"
	thumbURL="thumbs/DSCF6792.jpg"
	linkURL="images/DSCF6792.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6792.JPG">
    <title><![CDATA[DSCF6792]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6793.jpg"
	thumbURL="thumbs/DSCF6793.jpg"
	linkURL="images/DSCF6793.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6793.JPG">
    <title><![CDATA[DSCF6793]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6794.jpg"
	thumbURL="thumbs/DSCF6794.jpg"
	linkURL="images/DSCF6794.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6794.JPG">
    <title><![CDATA[DSCF6794]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6795.jpg"
	thumbURL="thumbs/DSCF6795.jpg"
	linkURL="images/DSCF6795.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6795.JPG">
    <title><![CDATA[DSCF6795]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6796.jpg"
	thumbURL="thumbs/DSCF6796.jpg"
	linkURL="images/DSCF6796.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6796.JPG">
    <title><![CDATA[DSCF6796]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6797.jpg"
	thumbURL="thumbs/DSCF6797.jpg"
	linkURL="images/DSCF6797.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6797.JPG">
    <title><![CDATA[DSCF6797]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6798.jpg"
	thumbURL="thumbs/DSCF6798.jpg"
	linkURL="images/DSCF6798.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6798.JPG">
    <title><![CDATA[DSCF6798]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6799.jpg"
	thumbURL="thumbs/DSCF6799.jpg"
	linkURL="images/DSCF6799.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6799.JPG">
    <title><![CDATA[DSCF6799]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6800.jpg"
	thumbURL="thumbs/DSCF6800.jpg"
	linkURL="images/DSCF6800.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6800.JPG">
    <title><![CDATA[DSCF6800]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6801.jpg"
	thumbURL="thumbs/DSCF6801.jpg"
	linkURL="images/DSCF6801.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6801.JPG">
    <title><![CDATA[DSCF6801]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6805.jpg"
	thumbURL="thumbs/DSCF6805.jpg"
	linkURL="images/DSCF6805.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6805.JPG">
    <title><![CDATA[DSCF6805]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6806.jpg"
	thumbURL="thumbs/DSCF6806.jpg"
	linkURL="images/DSCF6806.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6806.JPG">
    <title><![CDATA[DSCF6806]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6812.jpg"
	thumbURL="thumbs/DSCF6812.jpg"
	linkURL="images/DSCF6812.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6812.JPG">
    <title><![CDATA[DSCF6812]]></title>
    <caption><![CDATA[]]></caption>
  </image>
  <image imageURL="images/DSCF6813.jpg"
	thumbURL="thumbs/DSCF6813.jpg"
	linkURL="images/DSCF6813.jpg"
	linkTarget="_blank"
	sourcePath="C:\Users\Kevin\Dropbox\@@OldMortonians\2017\WRG Sat180217\DSCF6813.JPG">
    <title><![CDATA[DSCF6813]]></title>
    <caption><![CDATA[]]></caption>
  </image>
</juiceboxgallery>